#sosmed-wa{
    text-decoration: none;
    color: green;
}

#sosmed-em{
    text-decoration: none;
    color: blue;
}

#sosmed-ig{
    text-decoration: none;
    color: hotpink;
}

#sosmed-yt{
    text-decoration: none;
    color: red;
}